
.container {
  margin-top:50px;
  text-align:center;
}

h1 {
  color: #B94A48 !important;
  margin-bottom: 50px !important;
}

p {
  font-size:16px !important;
}

.download {
  text-align:center;
  margin-top:50px;
}

.small {
  font-size:13px !important;
  text-align:center;
}

.footer {
  text-align:center;
  font-size: 12px;
  margin-top:100px;
}

.support {
  margin-top:50px;
}
